<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!--  SERVLETS -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hms.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.hms.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.hms.servlet.AddUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddPatientServlet</servlet-name>
        <servlet-class>com.hms.servlet.AddPatientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPatientServlet</servlet-name>
        <url-pattern>/addPatient</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name>BookAppointmentServlet</servlet-name>
    <servlet-class>com.hms.servlet.BookAppointmentServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>BookAppointmentServlet</servlet-name>
    <url-pattern>/bookAppointment</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DoctorDashboardServlet</servlet-name>
    <servlet-class>com.hms.servlet.DoctorDashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DoctorDashboardServlet</servlet-name>
    <url-pattern>/doctorDashboard</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateAppointmentStatusServlet</servlet-name>
    <servlet-class>com.hms.servlet.UpdateAppointmentStatusServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>UpdateAppointmentStatusServlet</servlet-name>
    <url-pattern>/updateAppointmentStatus</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.hms.servlet.AdminDashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/adminDashboard</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SearchPatientServlet</servlet-name>
    <servlet-class>com.hms.servlet.SearchPatientServlet</servlet-class>
</servlet>

<servlet>
    <servlet-name>ViewPatientsServlet</servlet-name>
    <servlet-class>com.hms.servlet.ViewPatientsServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewPatientsServlet</servlet-name>
    <url-pattern>/patientList</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>SearchPatientServlet</servlet-name>
    <url-pattern>/searchPatient</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>StaffDashboardServlet</servlet-name>
    <servlet-class>com.hms.servlet.StaffDashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>StaffDashboardServlet</servlet-name>
    <url-pattern>/staffDashboard</url-pattern>
</servlet-mapping>


    <!-- FILTER -->

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.hms.filter.AuthFilter</filter-class>
    </filter>

    <!-- Protect Dashboards -->
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/adminDashboard.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/staffDashboard.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/doctorDashboard.jsp</url-pattern>
    </filter-mapping>

    <!-- Protect Actions -->
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/addUser</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/addPatient</url-pattern>
    </filter-mapping>

<filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/bookAppointment</url-pattern>
</filter-mapping>
</web-app>